/* top left images of poster large  */
.poster img {
    width: 300px;
    aspect-ratio: 2/3;
}

/* Countdown css */
.countdown-item {
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(45deg, var(--col-logo) 0%, var(--col-contrast));
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.countdown-value {
    font-size: 2rem;
    margin: 0px 5px;
    line-height: normal;
    width: 70px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    animation: scaleUpDown 1s infinite alternate;
}

.countdown-label {
    font-size: 1.2rem;
    margin: 0px 5px;
    /* line-height: normal; */
    color: #fff;
    display: inline-block;
    animation: scaleUpDown 1s infinite alternate;
}

/* Countdown animation */
@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* to make countdown responsive */
@media (max-width: 500px) {
    .countdown-item {
        margin-right: 4px;
        padding: 5px;
    }

    .countdown-value {
        font-size: 1.5rem;
        width: 50px;
    }

    .countdown-label {
        font-size: 0.8rem;
    }
}

/* recent events Card */
.cards {
    gap: 30px;
}

.card {
    max-width: 270px;
    box-shadow: 0px 0px 8px rgb(94, 94, 94);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    margin-top: 100px;
}

.card .img-holder {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 12px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card .img-holder img {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1/1;
}

.card-content {
    height: 90px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.card h2,
.card h3 {
    margin: 0px;
}

.card p,
.card button {
    margin: 3px 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.1s;
}

/* on hovering card */
.card:hover .img-holder {
    transform: scale(0.9);
    margin-top: -140px;
}

.card:hover .card-content {
    height: 230px;
    overflow: visible;
}

.card:hover p,
.card:hover button {
    opacity: 1;
}